<% provide(:title, "Все пользователи")%>
<h1 class="size1 form">Все пользователи</h1>

<div class="row size indent6">
  <div class="col"></div>
    <div class="col-md-6 ">
    <ul>
      <% @user.each do |user|  %>
        <%= avatar_for user, 80%>
        <%= user.name %><br/><hr/>
      <% end %>
    </ul>
  </div>
  <div class="col"></div>
</div>

