<% if object.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="size2"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>