<% provide(:title, "Лента" )%>
<h1 class="size1 form">Моя лента</h1>

<div class="row size ">
  <div class="col"></div>
    <div class="col-md-8 posts intend7">
      <%= render 'shared/feed' %>
  </div>
  <div class="col"></div>
</div>