<%= provide(:title, "Создать рецепт") %>
<h1 class="size1 form3">Создать рецепт</h1>

<div class="row size ">
  <div class="col"></div>
    <div class="col-md-6 ">
    <%= render 'shared/post_form' %>
  </div>
  <div class="col"></div>
</div>