<br>
<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
  <div class="search-inside">
    <%= f.text_field :keyword, placeholder: "Искать рецепт", class: "search-box size5"  %>
    <%= f.submit "Поиск", class: "search-btn btn size6", style: "background-color: #d4beb0;" %>
  </div>
<% end %>

<br>
<div class="row size">
  <div class="col"></div>
    <div class="col-md-8">
      <%= render @posts %>
  </div>
  <div class="col"></div>
</div>