/* навигация */

.logo img {
  height: 50px;
  width: auto;
}

.logo {
  margin-left: 150px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 45px;
}

.indent {
    margin-left: 1020px;
}

.indent1 {
    margin-left: 40px;
}


li:hover {color: black;}


.indent4 {
    margin-left: 700px;

}

.a1 {
    color: black;
    text-decoration: none;
}

.a2:hover 
{
     color: #5f544e; 
     text-decoration:none; 
     cursor:pointer;  
}

/* подвал */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  color: gray;

    a {
    color: gray;
    &:hover {
      color: gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.indent2 {
  margin-left: 180px;
  margin-right: 180px;
}


/* Show user*/

.show1 {
  margin-left: 180px;
  margin-right: 180px;
  margin-top:  20px;
}


/* Форма */

 textarea, select, input{
border: 1px solid #bbb;
width: 100%;
margin-bottom: 15px;
}

.form {
    margin-left: 33%;    
    margin-top:  40px;
}

span.avatar {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.size1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 35pt;
  color: black;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

.color_btn {
  background-color: #d4beb0;
}

/* Общие */

.size {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18pt;
  color: black;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

a {
    color: gray;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}


/* Ошибки */

#error_explanation {
  color: black;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: state-danger-text;
  }
}

.size2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  color: black;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}


/* Аватар */

.avatar {
  border-radius: 50%;
}


/* Еще */

.indent5 {
  margin-left: 19%;
}

hr {
  background-color: gray; 
  height: 2px; 
}

.size6 {
 margin-top: 10px;
}

/* формы */

.checkbox {
  margin-bottom: 7px;
  span {
    margin-left: 3px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}