<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d4beb0;" >
  <div class="container-fluid ">
    <%= link_to image_tag("logo.png"), root_path,  class: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse size" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item indent1">
          <%= link_to "Главная", root_path, class: "nav-link active"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Категории", "#", class: "nav-link" %>
        </li>
        <li class="nav-item indent">
         <%= link_to "Вход", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>